.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
    margin-left: 2px;
}

.title {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 5px;
    align-self: flex-start;
}

.username {
    outline: none;
    border: none;
    background: var(--item);
    border-radius: 15px;
    font-size:1.5rem;
    padding: 8px 16px;
    margin-bottom: 10px;
}

.username:focus {
    box-shadow: 0 0 0px 2px cornflowerblue;
}

.avatarContainer {
    display: flex;
    align-items: center;
}

.button {
    width: fit-content;
    height: fit-content;
    font-size: 2rem;
    margin: 0;
}

.button:hover *, .button:active *, .button.disabled * {
    color: var(--item);
}

.button.disabled {
    background-color: rgba(128, 128, 128, 0.705);
}

.button.disabled:active {
    top: 0px;
}

.imageContainer {
    width: 200px;
}