.game-options {
    width: calc(200px + 4vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.option-container {
    display: flex;
    align-items: center;
}

.option-container .fas {
    font-size: calc(1rem + 2vmin);
    margin-right: 10px;

    cursor: help;
}

.fas * {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.inactive * {
    color: var(--textSecondary);
}

.active.stopwatch * {
    color: var(--stopwatch);
}

.active.green * {
    color: var(--green);
}

.game-title {
    margin: 10px auto 0 auto;
    padding: 0 12px;
    font-size: 1.5vmax;
}

[data-title] {
    position: relative;
}

[data-title]:hover::before {
    content: attr(data-title);
    position: absolute;
    bottom: -1.8vmax;
    left: -65px;
    display: inline-block;
    padding: 4px 7px;
    border-radius: 3px;
    background: var(--nav);
    color: rgb(235, 234, 232);
    box-shadow: var(--item) 0px 0px 2px 1px;
    font-size: 1vmax;
    white-space: nowrap;
    z-index: 1;
}

[data-title]:hover::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 8px;
    display: inline-block;
    border: 8px solid transparent;
    border-bottom: 8px solid var(--nav);
    z-index: 1;
}