.container {
    position: relative;
    top: 3vh;
    /* max-height of header = 9vh, 45.5vh should be exact center */
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.players {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.players>section {
    margin: 0;
}

.players>section:nth-child(1) {
    margin-bottom: 50px;
}

.actionButton {
    background-color: var(--item);
    margin: 0px;
    margin-top: 3%;
}