.map {
    width: 100vw;
    height: 100vh;
}

.game.maps-end {
    min-width: 330px;
    width: 22vw;
}

.map-features {
    z-index: 1001;
    position: relative;
}

.map-header {
    z-index: 1;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    background: var(--nav);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: fit-content;
    border-radius: 50px;
    box-shadow: var(--nav) 0px 1px 20px -5px;
    text-shadow: 0 0 1px rgb(4, 0, 26);
    padding: 6px 0px;
}

.map-header p, .map-header .stopwatch p.time {
    color: rgb(235, 234, 232) !important;
}

.map-header .game-title, .map-header .time {
    margin: 0;
    font-size: 1.1rem;
}

.map-header .title p {
    font-size: 1.4rem;
}

.map-loader {
    padding: 75px;
    background-color: rgba(0, 3, 41, 0.683);
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.map-loader h1 {
    margin: auto;
    margin-top: 10px;
    width: fit-content;
}

.action-buttons {
    position: absolute;
    width: fit-content;
    top: 20px;
    right: 20px;
    display: flex;
    z-index: 1;
    border-radius: 15px;
}

.delay, .skip {
    position: relative;
    background: var(--nav);
    padding: calc(2px + 0.2rem) calc(10px + 0.4rem);
    font-size: 0.9rem;
    border: 2px solid var(--nav);
    border-bottom: 6px solid var(--item);
    border-radius: 2px;
    color: rgb(235, 234, 232);
    transition: all 0.1s linear;
}

.delay {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: 4px solid var(--item);
}

.skip {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: 4px solid var(--item);
}

.delay:active, .skip:active {
    border-width: 0px;
    border-bottom-width: 4px;
    border-bottom-color: var(--nav);
    top: 2px;
    opacity: 0.95;
}

.delay:active {
    border-right-color: var(--nav);
    border-right-width: 2px;
    left: 2px;
}

.skip:active {
    border-left-color: var(--nav);
    border-left-width: 2px;
    right: 2px;
}

.marker-label {
    color: MediumSlateBlue;
    text-shadow: none;
    opacity: 1;
    background: rgb(230, 230, 250, 0.5)
}

.map-features~.back-btn {
    top: 10px;
}

.map-features article.stopwatch, .map-features .title-container.score {
    width: 15% !important;
}

/* leaflet map */
.leaflet-popup-content {
    text-align: center;
    color: black;
}

.leaflet-marker-text {
    font-size: 1rem;
    color: black;
    width: fit-content;
    transform: translate(-50%, -100%);
    background: rgba(81, 249, 134, 0.785);
    padding: 3px;
    border-radius: 5px;
    line-height: 1.2rem;
}

.leaflet-marker-text.purple-background {
    background: rgba(249, 81, 249, 0.785);
}

@media all and (max-width: 800px) {
    .map-features {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 8px;
    }

    .map-header {
        transform: translate(0, 0);
        position: relative;
        top: 0;
        left: 0;
        width: 98%;
        margin-bottom: 3px;
    }

    .action-buttons {
        position: relative;
        top: 0;
        left: 0;
        margin: auto;
    }

    .map-header .game-title, .map-header {
        height: fit-content;
    }

    article.stopwatch {
        padding-left: 5px;
    }

    .map-header .game-title, .map-header .time, .delay, .skip {
        font-size: 1.55rem;
    }

    .map-features~.back-btn {
        top: 11px;
        left: 5px;
        font-size: 3rem;
    }

    .map-features~.back-btn {
        top: 50px;
    }

    .delay, .skip {
        font-size: 2rem;
    }
}

@media all and (max-height: 600px) {
    .map-header {
        top: 5px;
    }

    .map-header .game-title, .map-header .time {
        font-size: 1.55rem;
    }

    .action-buttons {
        top: 5px;
    }

    .delay, .skip {
        font-size: 2rem;
    }

    .map-features~.back-btn {
        top: 7px;
        font-size: 3rem;
    }
}