.game.maps-end {
    min-width: 330px;
    width: 22vw;
}

.map-features{
    z-index: 1001;
    position: relative;
}

.map-header {
    z-index: 1;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    background: var(--nav);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: fit-content;
    border-radius: 50px;
    box-shadow: var(--nav) 0px 1px 20px -5px;
    text-shadow: 0 0 1px rgb(4, 0, 26);
    padding: 6px 0px;
}

.map-header p, .map-header .stopwatch p.time {
    color: rgb(235, 234, 232) !important;
}

.map-header .game-title, .map-header .time {
    margin: 0;
    font-size: 1.1vmax;
}

.map-header .title p {
    font-size: 1.4vmax;
}

.action-buttons {
    position: absolute;
    width: fit-content;
    top: 20px;
    right: 20px;
    display: flex;
    z-index: 1;
    border-radius: 15px;
    box-shadow: var(--nav) 0px 0px 20px -5px;
}

.delay, .skip {
    background: var(--nav);
    padding: calc(2px + 0.2vmax) calc(10px + 0.4vmax);
    font-size: 0.9vmax;
    border: 1px solid var(--nav);
    border-top-color: rgb(134, 148, 226);
    border-radius: 2px;
    color: rgb(235, 234, 232);
}

.delay {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: 2px solid var(--item);
    border-left-color: rgb(134, 148, 226);
}

.skip {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: 2px solid var(--item);
    border-right-color: rgb(134, 148, 226);
}

.delay:active, .skip:active {
    border-color: var(--nav);
    border-bottom-color: rgb(134, 148, 226);
}

.marker-label {
    color: MediumSlateBlue;
    text-shadow: none;
    opacity: 1;
    background: rgb(230, 230, 250, 0.5)
}

.map-features~.back-btn {
    top: 10px;
}

.map-features article.stopwatch, .map-features .title-container.score {
    width: 15% !important;
}

@media all and (max-width: 800px) {
    .map-features {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 8px;
    }

    .map-header {
        transform: translate(0, 0);
        position: relative;
        top: 0;
        left: 0;
        width: 98%;
        margin-bottom: 3px;
    }

    .action-buttons {
        position: relative;
        top: 0;
        left: 0;
        margin: auto;
    }

    .map-header .game-title, .map-header {
        height: fit-content;
    }

    article.stopwatch {
        padding-left: 5px;
    }

    .map-header .game-title, .map-header .time, .delay, .skip {
        font-size: 1.55vmax;
    }

    .map-features~.back-btn {
        top: 11px;
        left: 5px;
        font-size: 3vmax;
    }

    .map-features~.back-btn {
        top: 50px;
    }

    .delay, .skip {
        font-size: 2vmax;
    }
}

@media all and (max-height: 600px) {
    .map-header {
        top: 5px;
    }

    .map-header .game-title, .map-header .time {
        font-size: 1.55vmax;
    }

    .action-buttons {
        top: 5px;
    }

    .delay, .skip {
        font-size: 2vmax;
    }

    .map-features~.back-btn {
        top: 7px;
        font-size: 3vmax;
    }
}