aside {
    position: relative;

    --a-red: rgb(238, 0, 0);
    --a-orange: rgb(225, 96, 10);
    --a-yellow: rgb(216, 172, 0);
    --a-green: rgb(88, 170, 32);
    --a-blue: rgb(76, 146, 206);
    --a-indigo: indigo;
    --a-purple: rgb(160, 58, 141);
    --top: calc(1vh + 2.5rem);
}

.show-aside{
    font-size: 1rem;
}

.show-aside-container {
    top: var(--top);
    position: absolute;
    background-color: var(--item);
    padding: 1em;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
    line-height: 0;
}

.arrow-2 {
    transform: rotate(0deg);
}

.show-aside-container-close .arrow-2 {
    transform: rotate(180deg);
    animation: rotate180 0.4s;
}

.aside-content-close~.show-aside-container-close .arrow-2 {
    transform: rotate(0deg);
    animation: rotate0 0.4s;
}

.show-aside {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.arrow {
    fill: transparent;
    stroke: var(--text-primary);
    stroke-width: 2px;
}

.aside-content {
    --size: calc(15em);
}

.aside-content {
    width: var(--size);
    height: calc(var(--size) - 1em);
    background: var(--item);
    position: absolute;
    top: var(--top);
    z-index: 1;
    animation: slideInContent 0.4s;
    box-shadow: 1px 1px 5px 0px var(--item);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.aside-content-close {
    left: calc(-1 * var(--size));
    animation: hideContent 0.4s;
}

.aside-links-list {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 3.5em;
}

.aside-link {
    font-size: 1.5em;
}

.aside-link a {
    text-decoration: none;
}

.aside-link span {
    margin-right: 5px;
}

.aside-link:hover>a, .aside-link:active>a {
    text-decoration: underline;
}

.aside-links-list.red * {
    color: var(--a-red);
}

.aside-links-list.orange * {
    color: var(--a-orange);
}

.aside-links-list.yellow * {
    color: var(--a-yellow);
}

.aside-links-list.green * {
    color: var(--a-green);
}

.aside-links-list.blue * {
    color: var(--a-blue);
}

.aside-links-list.indigo * {
    color: var(--a-indigo);
}

.aside-links-list.purple * {
    color: var(--a-purple);
}

.github {
    margin: auto;
    line-height: 0;
}

.github * {
    color: rgba(255, 255, 255, 0.696);
}

.github.red:hover * {
    color: var(--a-red);
}

.github.orange:hover * {
    color: var(--a-orange);
}

.github.yellow:hover * {
    color: var(--a-yellow);
}

.github.green:hover * {
    color: var(--a-green);
}

.github.blue:hover * {
    color: var(--a-blue);
}

.github.indigo:hover * {
    color: var(--a-indigo);
}

.github.purple:hover * {
    color: var(--a-purple);
}


@keyframes slideInContent {
    0% {
        left: calc(-1 * var(--size));
    }

    100% {
        left: 0;
    }
}


@keyframes hideContent {
    0% {
        left: 0;
    }

    100% {
        left: calc(-1 * var(--size))
    }
}

@keyframes rotate180 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes rotate0 {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media all and (max-width: 700px) {
    .aside-content, .show-aside {
        font-size: 2rem;
    }

    .aside-content, .show-aside-container {
        top: 0;
        opacity: 0.8;
    }

}

@media all and (max-width: 500px) {
    @keyframes hideContent {
        0% {
            left: 0;
        }

        100% {
            left: -100%;
        }
    }

    .aside-content-close {
        left: -100%;
    }

    @keyframes slideInContent {
        0% {
            left: -100%;
        }

        100% {
            left: 0;
        }
    }

    .aside-content {
        width: 100%;
    }
}