.game-end {
    width: calc(200px + 15vw);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-end .score {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.game-end .title-container {
    width: 100%;
    font-size: 1.4vmax;
}

.game-end .game-title{
    margin-top: 15px;
}

.game-end-score, .game-end .score .stopwatch {
    font-size: 1.35vmax;
}

.game-end-score {
    padding: 0;
    text-align: center;
}

@media all and (max-width: 1200px) {
    .game-end .score {
        font-size: 1.35vmax;
    }
}

@media all and (max-width: 1600px) {
    .game-end .score {
        font-size: 1.05vmax;
    }
}