.game-end {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.game-end .score {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.game-end .score .game-end-score {
    margin-right: 25px;
}

.game-end .title-container {
    width: 100%;
    font-size: 1.4rem;
}

.game-end .game-title {
    margin-top: 15px;
}

.game-end-score, .game-end .score .stopwatch {
    font-size: 1.35rem;
}

.game-end-score {
    padding: 0;
    text-align: center;
}


@media all and (max-width: 1600px) {
    .game-end-score, .game-end .score .stopwatch {
        font-size: 1.05rem;
    }
}

@media all and (max-width: 1200px) {
    .game-end-score, .game-end .score .stopwatch {
        font-size: 1.35rem;
    }
}

@media all and (max-width: 800px) {
    .game-end-score, .game-end .score .stopwatch {
        font-size: 1.8rem;
    }

    .game.game-end {
        top: 25vh;
    }
}