.btn {
    margin-bottom: 20px;
    font-size: 0.9vmax;
    width: calc(200px + 3vw);
    height: 50px;
    border: none;
    border-radius: 10px;
    outline: none;
    background: var(--accent);
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:hover {
    background: var(--text-primary);
    color: var(--item);
}

.btn:active {
    top: 2px;
}

.next-btn:hover {
    background: rgb(255, 123, 0) !important;
    color: rgb(235, 234, 232) !important;
}

.next-btn {
    background: rgb(3, 149, 185) !important;
    color: rgb(235, 234, 232) !important;
    cursor: pointer !important;
}

.false, .false:hover {
    background: rgb(253, 36, 36) !important;
}

.true, .true:hover {
    background: rgb(8, 168, 2) !important;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

@media all and (max-width: 1200px) {
    .btn {
        font-size: 1.5vmax;
    }
}