.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.quiz.game {
    width: calc(200px + 25vw);
    max-width: 650px;
}

.game:before {
    content: '';
    background: var(--gradient);
    position: absolute;
    background-size: 400%;
    z-index: -1;
    filter: blur(4px);
    left: -1px;
    top: -1px;
    max-width: 656px;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    user-select: none;
}

.game:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--item);
    left: 0;
    top: 0;
    border-radius: 10px;
    user-select: none;
}

.game p.game-title {
    margin-top: 10px;
}

.game.quiz p.game-title {
    margin: 0;
}

.game-title {
    text-align: center;
}

.quiz .game-img-container {
    max-width: 100%;
    overflow: hidden;
}

.quiz .game-img-container {
    max-width: calc(200px + 20vw);
    box-shadow: 0px 0px 6px 0px var(--nav);
    margin: 15px;
    border-radius: 15px;
    height: calc(100px + 20vh);
}

@media all and (min-width: 1800px) {
    .quiz .game-img-container {
        max-width: 620px;
    }
}

.quiz .game-img {
    height: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    user-select: none;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.answered .btn {
    cursor: default;
}

.answered .btn:hover {
    background: var(--accent);
    color: rgb(235, 234, 232);
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 0px 15px;
    font-size: 1.1vmax;
}

.header article {
    text-align: center;
}

.title-container.title {
    width: 49%;
}

.title-container.score {
    width: 25%;
}

article.stopwatch {
    width: 25%;
}

.header article p {
    margin: 0;
}

.btn-container {
    position: relative;
    width: 100%;
}

.next-modal {
    height: calc(100% + 12px);
    width: 100%;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.next-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.next-btn:active {
    top: 53%;
}

.next-modal::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(25, 25, 54);
    opacity: 0.55;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media all and (max-height: 950px) {
    .game, .quiz.game {
        top: 60%;
    }
}

@media all and (max-width: 1600px) {
    .game-title {
        font-size: 1.2vmax;
    }

    .title-container.title .game-title {
        font-size: 1.5vmax;
    }

    [data-title]:hover::before {
        font-size: 1.2vmax;
        bottom: -2.3vmax;
    }
}

@media all and (max-width: 1200px) {
    .game-title {
        font-size: 1.5vmax;
    }

    .title-container.title .game-title {
        font-size: 1.7vmax;
    }

    [data-title]:hover::before {
        font-size: 1.5vmax;
        bottom: -3vmax;
    }

    [data-title]:hover::after {
        bottom: -7px;
    }

    .header {
        font-size: 1.5vmax;
    }
}

@media all and (max-width: 800px) {
    .game, .quiz.game {
        width: 95%;
    }

    .quiz .game-img-container {
        max-width: 85vw;
    }

    .game-title, article.stopwatch {
        font-size: 1.8vmax;
    }

    .title-container.title .game-title {
        font-size: 2vmax;
    }
}