*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: var(--background);
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(40, 54, 116);
}

::-webkit-scrollbar-thumb {
  background: var(--nav);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}