*, *::before, *::after {
  box-sizing: border-box;
}

* {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-primary);
}

.app {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: var(--background);
}

.fab, .fas {
  font-size: 2vmax;
  color: var(--text-secondary);
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(40, 54, 116, 0.418);
}

::-webkit-scrollbar-thumb {
  background: var(--nav);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

::-webkit-scrollbar-corner {
  background: rgb(40, 54, 116);
}

/*Transition*/
.slide-enter {
  position: relative;
  left: 100vw !important;
}

.slide-enter-active {
  left: 0 !important;
  transition: left 400ms;
}
f
.game.slide-enter-active {
  left: 50% !important;
  transition: left 400ms;
}

.slide-exit-active {
  display: none !important;
  z-index: -1 !important;
}

.slide-exit-active~div {
  display: none !important;
}