@import 'leaflet/dist/leaflet.css';


*, *::before, *::after {
  -webkit-transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
  -moz-transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
  transition: color ease-in-out 0.3s, background-color ease-in-out 0.3s, box-shadow ease-in-out 0.3s;
}

body {
  margin: 0;
  background-color: rgb(40, 54, 116);
  background-size: cover;
}

img {
  user-select: none;
}

:root {
  background-color: rgb(40, 54, 116);
  text-shadow: 0 0 1px rgb(4, 0, 26);

  --relative-component-max-height: 900px;

  --nav: #1f3064;
  --background: rgb(40, 54, 116);
  --item: #162757;
  --text-primary: rgb(235, 234, 232);
  --text-secondary: grey;
  --accent: #263977;
  --planet-bg: var(--accent);
  --planet-fill: green;
  --switch-background: var(--accent);
  --green: rgb(68, 190, 38);
  --stopwatch: rgb(123, 205, 233);
  --inverted-text-shadow-color: rgb(211, 248, 253);
  --gradient: linear-gradient(45deg, #00b7ff93, #0062ffa0, #002aff9e, #2779fd90);
}

[data-theme='light'] {
  background-color: rgb(255, 21, 21);

  text-shadow: 0 0 1px rgb(211, 248, 253);
  --nav: var(--gradient);
  --background: #b7d6fa;
  --item: rgb(160, 195, 241);
  --text-primary: rgb(39, 46, 105);
  --accent: rgb(152, 183, 255);
  --planet-bg: rgb(115, 128, 245);
  --planet-fill: gold;
  --switch-background: rgb(129, 165, 248);
  --green: rgba(2, 127, 92, 0.908);
  --stopwatch: rgb(74, 48, 222);
  --inverted-text-shadow-color: rgb(4, 0, 26);
  --gradient: linear-gradient(45deg, #9997ff, #a494fb, #8294f8);
}

html {
  background-size: cover;
  padding-top: env(safe-area-inset-top);
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}