body {
  margin: 0;
}

[data-theme='light'] {
  --nav: #5675db;
  --background: #b7d6fa;
  --item: rgb(160, 195, 241);
  --text-primary: rgb(32, 41, 128);
  --text-secondary: royalblue;
  --accent: rgb(123, 162, 251);
  --green: rgb(1, 100, 1);
  --stopwatch: rgb(39, 39, 165);
}

[data-theme='dark'] {
  --nav: #1f3064;
  --background: rgb(40, 54, 116);
  --item: #162757;
  --text-primary: rgb(235, 234, 232);
  --text-secondary: grey;
  --accent: #263977;
  --green: rgb(68, 190, 38);
  --stopwatch: rgb(123, 205, 233);
}

html{
  background: rgb(40, 54, 116);
}